#services {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/background/bg-service.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 50%;
    z-index: -1;
  }
}
.services {
  background-color: white;
  margin-top: 60px;
  padding: 10px;
  margin-bottom: 100px;
  border: 1px solid $border-color;
  border-radius: 20px;

  &__box_title {
    display: flex;
    justify-content: center;
  }

  &__els {
    padding: 80px 80px 0 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__els-el {
    width: calc(100% / 3 - 30px);
    height: 200px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    cursor: pointer;

    p {
      max-width: 230px;
      margin: 0 auto;
    }

    &-box {
      display: flex;
      justify-content: center;
      align-items: center;

      &_icon {
        background-color: #5454d423;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }
    &_title {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    &_text {
      color: rgba(39, 39, 39, 0.626);
    }
  }
}

@media only screen and (max-width: 992px) {
  .services {
    margin-top: 40px;
    margin-bottom: 80px;

    &__els {
      padding: 60px 60px 0 60px;
    }

    &__els-el {
      width: calc(100% / 2 - 20px);
      height: auto;
      margin-bottom: 50px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .services {
    margin-top: 30px;
    margin-bottom: 60px;

    &__els {
      padding: 40px 40px 0 40px;
    }

    &__els-el {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}

@media only screen and (max-width: 576px) {
  #services {
    position: relative;
    &::after {
      display: none;
    }
  }
  .services {
    margin-top: 0px;
    margin-bottom: 40px;
    border: 0;
    &__els {
      padding: 0;
    }
  }
}
